var getTime = function(product) {
  var data = getDate(product);
  var year = data.getFullYear();
  var month = data.getMonth() + 1;
  var date = data.getDate();
  var hour = data.getHours();
  var minute = data.getMinutes();
  var second = data.getSeconds();
  return year + "-" + month + "-" + date + " " + hour + ":" + minute + ":" + second;
}

module.exports = {
  getTime: getTime
}